@tailwind base;
@tailwind components;
@tailwind utilities;

.is-active {
  color: #0466c8;
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #0466c8;
}

.circular-component {
}

/* .circular-component  circle {
  fill: white;
  stroke: white;
} */
.circular-component circle:first-child {
  /* Styles for the first circle */
  /* fill: blue; */
  stroke: white;
}
.circular-component circle + circle {
  /* fill: green; */
  /* stroke: white; */
}

.circular-component-breakdown circle:first-child {
  stroke: white;
  background: red;
}
.circular-component-breakdown circle + circle {
  /* stroke: white; */
  background: red;
}

a.default-navlink span span svg {
  fill: #797b8b;
}
a.default-navlink span span span {
  color: #797b8b;
}

a.active-navlink span span svg {
  fill: #0466c8;
}

a.active-navlink span:last-child {
  color: black;
}

a.default-navlink span:last-child {
  color: #797b8b;
}

/* add fonts */
@font-face {
  font-family: 'circular-bold';
  src: url('./fonts/FontsFree-Net-CircularStd-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'circular';
  src: url('./fonts/Circular\ Std\ Font.otf');
}
